body{
    margin: 0px;
    padding: 0px;
    background-color: #000000;
    font-family: 'Montserrat', sans-serif;
    
}
header{
    position: fixed;
    width: 100%;
}
span{
    text-decoration: underline;
}
.navbar .logo {
    font-size: 24px;
    font-weight: 700;
}

.navbar{
    display: flex;
    background-color: #FCAF02;
    align-items: center;
    padding: 15px 30px;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    /* width: 1728px; */
    /* height: 86px; */
}
.navitems{
    display: flex;
    list-style-type: none;
    
}
.navitems a{
    text-decoration: none;
    /* display: flex; */
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    padding-left: 20px;
    font-size: 28px;
}
.intro-section{
    /* max-width: 50%; */
    padding: 50px;
    display: flex;
    margin-top: 100px;
}
.intro-content h1{
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 60px;
    /* padding: 15px 30px; */
    /* font-size: 64px; */
}
.intro-content p{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    /* padding: 15px 30px; */
    font-size: 18px;
}
.jeff-babu{
    /* max-width: 100%; */
    /* width: 200px;
    height: 200px; */
    /* margin-right:-50rem; */
    display: flex;
    width: 400px;
}
.login-button{
    background-color: #FCAF02;
    border-radius:500px;
    width: 323px;;
    height:66px;
    font-family: 'Montserrat', sans-serif ;
    font-size:25px;
}
.login-button:hover{
    background-color: #FFC400;  
}
.contact{
    padding: 15px 30px;
}
.contact h1{
    color: #FCAF02;
    font-size: 60px;
}
.contact-form input{
    background-color: #000;
    border: 2px solid #FCAF02;
    width: 100%;
    margin-bottom:20px;
    padding: 20px;
    border-radius: 100px;;
}
::placeholder{
    color:#FCAF02;
    opacity: 0.5;
    padding: 15px;
}
.data-field{
    width:100%;
    display: flex;
    justify-content: space-between;
    gap: 5%;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;

}
#submit{
    background-color: #FCAF02;
    display: flex;
    align-items: center;
    border: none;
    width: 325px;
    height: 82px;
    font-size: 32px;
    border-radius: 100px;
    text-align: center;
    color: #000;
    justify-content: center;
}
#submit:hover{
    background-color: #FFC400;  
}
.table-section{
    color:#FCAF02;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    padding: 50px;
    /* border-collapse: collapse; */
}
table, th, td {
    border: 2px solid #ffd700;
    padding: 10px;
    text-align: left;
    border-collapse: collapse;
    align-items: center;
    justify-content: center;
    padding : 50px 100px 50px 50px;
}
table{
    width:100%;
    margin: 0 auto;
    font-size:28px;
}
thead{
    color:#FCAF02
}
tfoot td{
    background-color: #FCAF02;
    color: #000;
    border: 2px solid #000;
    border-collapse: collapse;
}